<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digcoins.digitalcoinsexchange"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".FrontActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeFragment"
            android:label="@string/title_activity_home_fragment" >
        </activity>
        <activity
            android:name=".BuyCoinFragment"
            android:label="@string/title_activity_buy_coin_fragment" >
        </activity>
        <activity
            android:name=".SellCoinFragment"
            android:label="@string/title_activity_sell_coin_fragment" >
        </activity>
        <activity
            android:name=".CreateTradeFragment"
            android:label="@string/title_activity_create_trade_fragment" >
        </activity>
        <activity
            android:name="com.digcoins.fragments.BuyAdsFragment"
            android:label="@string/title_activity_buy_ads_fragment" >
        </activity>
        <activity
            android:name="com.digcoins.fragments.SellAdsFragment"
            android:label="@string/title_activity_sell_ads_fragment" >
        </activity>
        <activity
            android:name="com.digcoins.fragments.LocationFragment"
            android:label="@string/title_activity_location_fragment" >
        </activity>
    </application>

</manifest>
